# Place your MongoDB Atlas connection string here
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<appname>

# Secret key for JWT Token signing
# Generate a secure string using `openssl rand -hex 32` or similar
JWT_SECRET=your_super_secret_jwt_key_here
